<nav class="flex-3-col-container align-center">
  <div class="pointer" id="logo" [routerLink]="['']">
    <img src="/assets/coctailsAssets/Logo.png" alt="brand-logo-two-bords" >
  </div>
  <div id="navbar-menu-items-container" class="flex gap-12">
    <span>{{"navbar.item.menu"|translate}}</span>
    <span>{{"navbar.item.rewards"|translate}}</span>
    <span>{{"navbar.item.blog"|translate}}</span>
  </div>
  <div class="search-bar flex align-center gap-4">
    <input [formControl]="searchControl" type="text"  [placeholder]="translateService.instant('navbar.item.inputSearch.placeholder')">
    <img src="/assets/coctailsAssets/bookmarks.png" alt="bookmarks image" >
  </div>
</nav>
