/* You can add global styles to this file, and also import other style files */
@import '/src/sass_architecture/gateway.scss';

html{
  padding: 0px 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

body{
  padding: 2rem 0px 0px 0px;
  margin: 0px;
  background-color: #EFECE5;
}
