<section id="landing-banner">
  <article class="left-side-items">
    <h1 class="title-banner">{{ "landing.banner.main.title" | translate }}</h1>
    <p>{{ "landing.banner.main.description" | translate }}</p>
    <h2 class="title-number">4.9</h2>
    <div>
      <button>{{ "landing.banner.main.btn.tryNow" | translate }} <span class="material-symbols-outlined arrow">
        chevron_right
        </span></button>
    </div>
  </article>
  <article class="main-img-banner">
    <img
      class="lineas-fondo"
      src="/assets/coctailsAssets/Lineas-fondo.png"
      alt="gin-image"
    />
    <div id="image-banner-container">
      <img
        src="/assets/coctailsAssets/Botella-Gin-centro.png"
        alt="gin-image"
        class="center-image"
      />
      <img
        src="/assets/coctailsAssets/Palitos-cafe-centro.png"
        alt="gin-image"
        class="left-image"
      />
      <img
        src="/assets/coctailsAssets/Fruta-roja-centro.png"
        alt="gin-image"
        class="right-image"
      />
    </div>
  </article>
  <article>
    <div *ngFor="let sideItem of sideItems" class="right-side-item ">
      <div class="circular-image-wrapper">
        <img class="circular-image" [src]="sideItem.imgUrl" />
      </div>
      <div>
        <h3 class="item-title-right">{{ sideItem.title | translate }}</h3>
        <p>{{ sideItem.description | translate }}</p>
      </div>
    </div>
  </article>
</section>
