#landing-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  padding: 0px 1rem;
  color: #574747;
}

@media screen and (max-width: 1200px) {
  #landing-banner {
    grid-template-columns: 1fr;
  }
}

.title-banner{
  font-size: 40px;
  font-weight: 550;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #574747;
}

button{
  padding: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: #A1DBC3;
  border-radius: 40px;
  font-size: 20px;
  color: #574747;
  box-shadow: 4px 4px 5px #60a5a995;
}

.arrow{
  background-color: #5CA3A8;
  color: #D0DCD8;
  padding: 2px;
  border-radius: 50%;
}

.title-number{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-side-items{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}

#image-banner-container {
  width: 220px;
  height: 220px;
  background: #A1DBC3;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(64, 64, 64, 0.582);
}
.main-img-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lineas-fondo {
  z-index: -1000;
  transform: scale(0.8);
}

.center-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-image {
  right: 0%;
}

.right-image {
  left: -10%;
  bottom: -10%;
  transform: scale(0.6);
}

img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.circular-container {
  width: 400px;
  height: 400px;
  position: relative;
}


@mixin circular-image-base {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A1DBC3;
  border-radius: 50%;
  padding: 10px;
}

h3{
  margin: 0;
}


.circular-image-wrapper {
  @include circular-image-base();
  width: 25px;
  height: 25px;
  background-color: #A1DBC3;
  position: relative;
}

.right-side-item{
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.item-title-right{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.circular-image {
  width: 100%;
  height: 100%;
  object-fit:none;
  position: absolute;
  border-radius: 50%;
}

